@import "tailwindcss";
@import "./tailwind-theme.css";
@import "./tailwind-components.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

@layer base {
  html {
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 96%;
  }

  p {
    font-size: 20px;
    line-height: 96%;

    margin-bottom: 24px;

    &:last-child {
      margin-bottom: 0 !important;
    }
  }

  @media (min-width: 768px) {
    p {
      font-size: 34px;
    }
  }
}
