@layer components {
  .heading-1 {
    @apply font-heading font-extrabold;
    font-size: 60px;
  }

  @media (min-width: 768px) {
    .heading-1 {
      font-size: 120px;
    }
  }

  .heading-2 {
    @apply font-heading text-3xl tracking-tight;
  }

  .heading-3 {
    @apply font-heading text-2xl tracking-tight;
  }

  .heading-4 {
    @apply font-heading text-xl;
  }
}
