@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-red: #fb351f;
  --font-sans: "tgn-soft-round-con", sans-serif;
  --font-mono: var(--font-geist-mono);
  --font-heading: "tgn-soft-round-con", sans-serif;
  --spacing: 8px;
  --text-sm: 14px;
  --text-lg: 20px;
  --text-huge: 48px;
}
