@layer components {
  .heading-1 {
    @apply font-heading font-extrabold;
    font-size: 60px;
  }

  @media (min-width: 768px) {
    .heading-1 {
      font-size: 120px;
    }
  }

  .heading-2 {
    @apply font-heading text-3xl font-extrabold;
  }

  .heading-3 {
    font-size: 46px;
    margin-bottom: 30px;
    @apply font-heading text-2xl font-extrabold;

    @media (min-width: 768px) {
      font-size: 76px;
      margin-bottom: 50px;
    }
  }

  .heading-4 {
    @apply font-heading text-xl;
  }
}
