@layer components {
  .heading-1 {
    @apply font-heading font-extrabold;
    font-size: 60px;
  }

  @media (min-width: 768px) {
    .heading-1 {
      font-size: 120px;
    }
  }

  .heading-2 {
    @apply font-heading font-extrabold;
  }

  .heading-3 {
    @apply font-heading font-extrabold;

    font-size: 56px;
    margin-bottom: 30px;
    max-width: 100% !important;

    @media (min-width: 768px) {
      font-size: 76px;
      margin-bottom: 50px;
    }
  }

  .prose-narrow > p {
    @apply mx-auto max-w-[700px];
  }
}
